.main {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #4a91ee;
    font-weight: 900;
    color:#fff;
    font-size: 15px;
}
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 5px 10px 5px;
    border-radius: 10px 0 0 10px;
}

.sidebar ul .item:hover {
    background-color: #fff;
    color: #4a91ee;
}
.photo {
    margin-left: 10px;
}

.item_active {
    background-color: #fff;
    color: #4a91ee; 
}

.round-avatar {
    background-color: #fff;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.right-container {
    max-width: calc(100vw - 300px);
}