body {
    background-color: #F1F3F4;
}

.main {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #4a91ee;

    font-size: 15px;
}
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 5px 10px 5px;
    border-radius: 10px 0 0 10px;
    color:#fff;
}

.sidebar ul .item:hover {
    background-color: #fff;
    color: #4a91ee;
}
.photo {
    margin-left: 10px;
}

.active {
    background-color: #fff;
    color: #4a91ee !important ; 
}

.round-avatar {
    background-color: #fff;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.right-container {
    max-width: calc(100vw - 300px);
}

.flex-container {
    width: 100vw;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

}

.user_list_nav {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content:center;

}

.center {
    margin-top: 10px;
    position: relative;
    left: 215%;
}

.center > a {
    padding: 10px;
    color: #000;
}


.user_list_nav > li {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.user_list_nav > li a{
    padding: 10px;
    color: #000000;
}

.active_user, .navbar_link:hover {
    text-decoration: none;
    border-bottom: 2px solid #4a91ee;
    color: #4a91ee !important;
}

.radius {
    border-radius: 100%;
}

.flex_main_services {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.service_container {
    width: 350px;
}

.box_user_service {
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.message_user {
    font-weight: 600;
}

.tag {
    padding: 3px 5px;
    border-radius: 10px;
    background-color: #4a91ee;
    color: #fff;
}