
.line-bottom {
    
}


.footer_list {
    list-style: none;
    font-size: 14px;
}

.footer_list .footer_head {
    font-weight: 900;
    color: #1A73EA;
    
}

.m-20 {
    margin-bottom: 10px;
}


.blue-bg {
    color: #1A73EA;
}

footer {
    background: #F5F3F4 ;
    border-top: 1px solid hsl(214, 83%, 51%);
}