
.line-bottom {
    border-bottom: 1px solid #1A73EA;
}


.footer_list {
    list-style: none;
    font-size: 14px;
}

.footer_list .footer_head {
    font-weight: 900;
    color: #1A73EA;
    
}

.m-20 {
    margin-bottom: 10px;
}